In [25]:
import pandas as pd

#Functions build three lists based on user input, for example:
list_galleys = ['Galley 1', 'Galley 2']
list_services = ['Service 1', 'Service 2', 'Service 3']
list_cabins = ['J', 'Y']

#Construct multi-index dataframe from lists
index = pd.MultiIndex.from_product([list_galleys, list_services, list_cabins], names=['GALLEY', 'SERVICE', 'CABINS'])

#Several Functions construct a dict based on user input (number of Ovens and Carts).
#Inner dict values default to zero. A function will allow user to set individual values later.
d = {'Hot meals': [{'Oven 1': 0, 'Oven 2': 0}],
     'Lay ups': [{'Cart 1': 0, 'Cart 2': 0}]}

df = pd.DataFrame(data = d, index = index, dtype='int32')

#Unpack dictionary to form separate columns in dataframe
df_hotmeals = pd.DataFrame(df['Hot meals'].tolist(), index=index)
df_layups = pd.DataFrame(df['Lay ups'].tolist(), index=index)

#Merge both df and a Totals column, though ideally want two - one for Hot Meals and one for Lay Ups.
df_merge = pd.concat([df_hotmeals,df_layups], axis=1)

df_merge.loc[('Galley 1', 'Service 1', 'J'), 'Oven 1'] = (int(31))
df_merge.loc[('Galley 1', 'Service 1', 'J'), 'Oven 2'] = (int(8))
df_merge.loc[('Galley 1', 'Service 1', 'J'), 'Cart 1'] = (int(30))
df_merge.loc[('Galley 1', 'Service 1', 'J'), 'Cart 2'] = (int(10))

#df_merge['Total'] = df_merge.sum(axis=1) # Need two Totals columns in correct position!
df_merge['Oven Total'] = df_merge['Oven 1'] + df_merge['Oven 2']
df_merge['Cart Total'] = df_merge['Cart 1'] + df_merge['Cart 2']

# Need two Totals columns in correct position!
df_merge
#df_merge.groupby('GALLEY')

                           Oven 1  Oven 2  Cart 1  Cart 2  Oven Total  \
GALLEY   SERVICE   CABINS
Galley 1 Service 1 J           31       8      30      10          39
                   Y            0       0       0       0           0
         Service 2 J            0       0       0       0           0
                   Y            0       0       0       0           0
         Service 3 J            0       0       0       0           0
                   Y            0       0       0       0           0
Galley 2 Service 1 J            0       0       0       0           0
                   Y            0       0       0       0           0
         Service 2 J            0       0       0       0           0
                   Y            0       0       0       0           0
         Service 3 J            0       0       0       0           0
                   Y            0       0       0       0           0

                           Cart Total
GALLEY   SERVICE   CABINS
Galley 1 Service 1 J               40
                   Y                0
         Service 2 J                0
                   Y                0
         Service 3 J                0
                   Y                0
Galley 2 Service 1 J                0
                   Y                0
         Service 2 J                0
                   Y                0
         Service 3 J                0
                   Y                0

In [29]:
show_totals = df_merge[['Oven Total', 'Cart Total']]
show_totals

                           Oven Total  Cart Total
GALLEY   SERVICE   CABINS
Galley 1 Service 1 J               39          40
                   Y                0           0
         Service 2 J                0           0
                   Y                0           0
         Service 3 J                0           0
                   Y                0           0
Galley 2 Service 1 J                0           0
                   Y                0           0
         Service 2 J                0           0
                   Y                0           0
         Service 3 J                0           0
                   Y                0           0